<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Virtual Wallet - Summary</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

</head>

<body id="page-top">
<!-- Page Wrapper -->

<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="/fragments/navbar.html :: navbar"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h4 class="h4 mb-0 text-gray-800" th:text="'Hello, ' + ${session.currentUser}">Dashboard</h4>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Balance Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            <label th:text="#{index.balance}">Balance</label>
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <h2 th:text="${#numbers.formatDecimal(balance, 0, 2)}"></h2>
                                        </div>
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            <a href="#" th:href="@{/myaccount/deposit}"
                                               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                <i class="fas fa-download fa-sm text-white-10"></i>  Deposit</a>
                                            <a href="#" th:href="@{/myaccount/transactions/new}"
                                               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                <i class="fas fa-upload fa-sm text-white-10"></i>  Send</a>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

                <!-- Content Row -->
                <div class="row">
                    <!-- Latest Transactions -->
                    <div class="col-xl-3 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary" th:text="#{index.latest.transactions}">Latest Transactions</h6>
                            </div>
                            <!-- Card Body -->
                            <div th:if="${transactions.isEmpty()}" class="card-body">
                                <div class="row" style="color: black" th:text="#{index.transactions.empty}">No Transactions</div>
                            </div>

                            <div th:unless="${transactions.isEmpty()}" class="card-body"
                                 th:each="transaction : ${transactions}">
                                <div th:if="${transaction.sender} == ${session.currentUser}">
                                    <div class="row">
                                        <div class="col-5" style="color: red" th:text="${transaction.amount}">Transfer
                                            1
                                        </div>
                                        <div class="col-5" style="color: dodgerblue; font-size: 12px"
                                             th:text="${transaction.timestamp}">Timestamp 1
                                        </div>
                                    </div>
                                </div>
                                <div th:unless="${transaction.sender} == ${session.currentUser}">
                                    <div class="row">
                                        <div class="col-5" style="color: green" th:text="${transaction.amount}">Transfer 1</div>
                                        <div class="col-5" style="color: dodgerblue; font-size: 12px" th:text="${transaction.timestamp}">Timestamp 1</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Latest Transfers -->
                    <div class="col-xl-3 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary" th:text="#{index.latest.transfers}">Latest Transfers</h6>
                            </div>
                            <!-- Card Body -->
                            <div th:if="${transfers.isEmpty()}" class="card-body">
                                <div class="row" style="color: black" th:text="#{index.transfers.empty}">No Transfers</div>
                            </div>

                            <div th:unless="${transfers.isEmpty()}" class="card-body" th:each="transfer : ${transfers}">
                                <div class="row">
                                    <div class="col-5" style="color: black" th:text="${transfer.amount}">Transfer 1</div>
                                    <div class="col-5" style="color: dodgerblue; font-size: 12px" th:text="${transfer.timestamp}">Timestamp 1</div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</div>
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Team01 © Virtual Wallet 2021</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#" th:href="@{/auth/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>