<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Virtual Wallet - Profile</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet">


</head>
<style>
    div.row {
        font-size: 30px;
    }
</style>
<body id="page-top">
<!-- Page Wrapper -->

<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="/fragments/navbar.html :: navbar"/>

            <!-- Begin Page Content -->
            <div class="container-fluid" th:align="center">

                <!-- Content Row -->
                <div class="row">
                    <div class="card-body">
                        <label></label>
                        <form method="POST" action="#" th:action="@{/files}" enctype="multipart/form-data">

                            <img class="img-profile rounded-circle"
                                 th:src="@{/images/{image}(image=${session.currentUserImage})}" th:height="200px"
                                 th:width="200px">
                            <br/>
                            <input class="btn btn-primary btn-user btn-block col-2"
                                   onclick="document.getElementById('asd').click()" value="Change Image"/>
                            <input id="asd" style="display:none" type="file" name="file" accept=".png"
                                   onchange="form.submit()"/>

                        </form>
                    </div>

                </div>
                <div class="row">
                    <div class="card-body">
                        <label th:text="#{user.profile.username}">Username:</label>
                        <h4 class="text-xl font-weight-bold text-primary" th:text="${user.username}"></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="card-body">
                        <label th:text="#{user.profile.email}">Email:</label>
                        <h4 class="text-xl font-weight-bold text-primary" th:text="${user.email}"></h4>

                    </div>
                </div>

                <div class="row">
                    <div class="card-body">
                        <label th:text="#{user.profile.phone}">Phone Number:</label>
                        <h4 class="text-xl font-weight-bold text-primary" th:text="${user.phoneNumber}"></h4>
                    </div>
                </div>

                <div class="row"><br/></div>
                <div class="row"><br/></div>


                <div class="row">
                    </br>
                    <div class="col-4">
                        <a class="btn btn-primary btn-user btn-block col-5" th:href="@{/myaccount/update}"> Edit</a>
                    </div>

                    <br/>
                    <div class="col-4">
                        <a class="btn btn-info btn-user btn-block col-5" th:href="@{/myaccount/update/password}">
                            Change Password</a>
                    </div>

                    </br>
                    <div class="col-4">
                        <a class="btn btn-secondary btn-user btn-block col-5" th:href="@{/}"> Back</a>
                    </div>
                </div>

                <div class="row"><br/></div>
                <div class="row"><br/></div>

                <div class="row"><br/></div>
                <div class="row"><br/></div>

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</div>
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Team01 © Virtual Wallet 2021</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#" th:href="@{/auth/login}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>