<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Virtual Wallet - Register</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4" th:text="#{register.create}">Create an Account!</h1>
                        </div>
                        <form action="#" th:action="@{/auth/register}" th:object="${register}" method="post">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control form-control-user" th:field="*{username}"
                                           placeholder="Username">
                                    <label class="text-danger" th:errors="*{username}">Username error
                                        placeholder</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="email" class="form-control form-control-user" th:field="*{email}"
                                           placeholder="Email Address">
                                    <label class="text-danger" th:errors="*{email}">Email error placeholder</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="tel" class="form-control form-control-user"
                                           th:field="*{phoneNumber}"
                                           placeholder="Phone number">
                                    <label class="text-danger" th:errors="*{phoneNumber}">Phone number error
                                        placeholder</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user" th:field="*{password}"
                                           placeholder="Password">
                                    <label class="text-danger" th:errors="*{password}">Password error
                                        placeholder</label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           th:field="*{confirmPassword}"
                                           placeholder="Repeat Password">
                                    <label class="text-danger" th:errors="*{confirmPassword}">Confirm Password error
                                        placeholder</label>
                                </div>
                            </div>
                            <input class="btn btn-primary btn-user btn-block" th:type="submit" th:value="Register">

                            <hr>

                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="#" th:href="@{/auth/login}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>