<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Virtual Wallet - Activity</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}"
          rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

</head>
<body>

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <div th:replace="/fragments/navbar.html :: navbar"/>

        <!-- Begin Page Content -->
        <div class="container-fluid">


            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Your Transactions</h1>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Your Transactions</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <form action="#" th:action="@{/myaccount/transactions/filter}" th:object="${filterDto}"
                              method="get">
                            <div class="form-group row"> <!-- Date input -->
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <label class="control-label" th:text="#{activity.filter.start.date}">Start
                                        Date</label>
                                    <input class="form-control" type="datetime-local" th:field="*{startDate}"/>
                                </div>

                                <div class="col-sm-4">
                                    <label class="control-label" th:text="#{activity.filter.end.date}">End Date</label>
                                    <input class="form-control" placeholder="DD/MM/YYYY" th:field="*{endDate}"
                                           type="datetime-local"/>
                                </div>

                                <div class="col-sm-2">
                                    <label class="control-label"
                                           th:text="#{activity.filter.direction}">Direction</label>
                                    <!--                                    <select class="form-check">-->
                                    <select class="form-control" th:field="*{direction}">
                                        <option selected value="">Any</option>
                                        <option th:each="direction : ${T(com.team01.web.virtualwallet.models.enums.TransactionDirection).values()}"
                                                th:value="${direction.name()}"
                                                th:text="${direction}">
                                        </option>
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <label class="control-label"></br></label>
                                    <input class="form-control btn btn-primary btn-user btn-block" th:type="submit"
                                           th:value="Filter">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row"/>

                    <div class="table-responsive">
                        <table class="table" id="dataTable" data-page-length='50'
                               data-order='[[1, "desc"]]' width="100%" cellspacing="0">
                            <thead>

                            <th scope="col" th:text="#{activity.transaction.amount}"
                                style="user-select: none; cursor: pointer" onclick="sortTableAmount()">Amount
                            </th>
                            <th scope="col" th:text="#{activity.transaction.from}" style="user-select: none">From</th>
                            <th scope="col" th:text="#{activity.transaction.to}" style="user-select: none">To</th>
                            <th scope="col" th:text="#{activity.transaction.date}"
                                style="user-select: none; cursor: pointer" onclick="sortTableDate()">Date
                            </th>

                            </thead>
                            <div th:each="transaction : ${transactions}">
                                <tbody>
                                <tr>
                                    <div th:unless="${transaction.sender} == ${session.currentUser}">
                                        <td style="color: green" th:text="${transaction.amount}">100</td>
                                        <td style="color: dodgerblue" th:text="${transaction.sender}">Someone</td>
                                        <td style="color: dodgerblue">You</td>
                                    </div>

                                    <div th:if="${transaction.sender} == ${session.currentUser}">
                                        <td style="color: red" th:text="${transaction.amount}">100</td>
                                        <td style="color: dodgerblue">You</td>
                                        <td style="color: dodgerblue" th:text="${transaction.receiver}">Someone</td>
                                    </div>

                                    <td style="color: dodgerblue" th:text="${transaction.timestamp}">Date</td>
                                </tr>
                                </tbody>
                            </div>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Team01 © Virtual Wallet 2021</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#" th:href="@{/auth/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content Wrapper -->
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/sort.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
<script th:src="@{/js/moment.js}"></script>
<script th:src="@{/js/pagination.js}"></script>

<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</body>
</html>