<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Virtual Wallet - Send</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

</head>

<body id="page-top">
<!-- Page Wrapper -->

<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="/fragments/navbar.html :: navbar"/>

            <div class="container-fluid">
                <div class="row">
                    <!-- Border Left Utilities -->
                    <div th:align="center" class="col-lg-6">
                        <form action="#" th:action="@{/myaccount/transactions/new/finalize}" th:object="${transaction}" method="post"
                              class="user">
                            <div class="form-group col-5">
                                <label>User receiving the money:</label>
                                <h2 th:text="${receiverUsername}"></h2>
                                <label class="text-danger" th:errors="*{receiverId}">Receiver error placeholder</label></br>
                            </div>
                            <div class="form-group col-5">
                                <input type="hidden" name="receiverId" th:value="*{receiverId}"/>
                                <label>Enter amount to send</label>
                                <input type="number" step="0.01" th:field="*{amount}" class="form-control"
                                       id="exampleAmount" placeholder="Amount">
                                    <label class="text-danger" th:errors="*{amount}">Amount error placeholder</label>
                            </div>
                            <hr>

                            <a role="button"
                               th:attr="data-target='#confirm'"
                               data-toggle="modal"
                               class="btn btn-primary btn-user btn-block col-5"> Send</a>
                            <a class="btn btn-secondary btn-user btn-block col-5" th:href="@{/}">Back</a>

<!--                            Confirm Transaction Modal-->
                            <div class="modal fade" th:id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1" th:text="'Do you confirm the transaction to ' + ${receiverUsername}">
                                                Do you confirm the transaction
                                            </h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">Select "Yes" below if you are sure.</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary col-2" type="button" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <input class="btn btn-primary col-2" th:type="submit" th:value="Yes"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>
                <!-- End of Content Wrapper -->
            </div>


        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Footer -->
<div class="navbar fixed-bottom">
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Team01 &copy; Virtual Wallet 2021</span>
            </div>
        </div>
    </footer>
</div>
<!-- End of Footer -->

<!-- Confirm Modal -->


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#" th:href="@{/auth/login}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>