<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Wallet - Send</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

</head>

<body id="page-top">
<!-- Page Wrapper -->

<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="/fragments/navbar.html :: navbar"/>

            <div class="container-fluid">
                <div class="row">
                    <!-- Border Left Utilities -->
                    <div th:align="center" class="col-lg-6">
                        <form action="#" th:action="@{/myaccount/transactions/new/finalize/verify}" method="post" th:object="${transactionDto}"
                              class="user">
                            <div class="form-group col-5">
                                <label>User receiving the money:</label>
                                <h2 th:text="${session.receiverUsername}"></h2>
                            </div>
                            <div class="form-group col-5">
                                <label>Amount you are sending:</label>
                                <h2 th:text="${session.amount}"></h2>
                            </div>

                            <div class="form-group col-5">
                                <label>Enter verification code</label>
                                <input type="text" th:field="*{token}" class="form-control" placeholder="Verification code">
                                <label class="text-danger" th:errors="*{token}">Token error placeholder</label>
                                <label class="text-info">A verification code has been sent to your email</label>
                            </div>
                            <hr>

                            <input class="btn btn-primary btn-user btn-block col-5" th:type="submit" th:value="Send">
                            <a class="btn btn-secondary btn-user btn-block col-5" th:href="@{/myaccount/transactions/new}">Back</a>
                        </form>


                    </div>
                </div>
                <!-- End of Content Wrapper -->
            </div>


        </div>
        <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Footer -->
<div class="navbar fixed-bottom">
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Team01 &copy; Virtual Wallet 2021</span>
            </div>
        </div>
    </footer>
</div>
<!-- End of Footer -->

<!-- Confirm Modal -->


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#" th:href="@{/auth/login}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html></title>
</head>
<body>
</body>
</html>