<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Navbar fragment</title>

    <!-- Custom fonts for this template-->
    <link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <a th:align="left">
        <a href="#" th:href="@{/}" class="btn btn-outline-primary">
            <h3>Virtual Wallet</h3>
        </a>
    </a>

    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li th:if="${isAuthenticated}" class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span th:text="${session.currentUser}" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                <img class="img-profile rounded-circle"
                     th:src="@{/images/{image}(image=${session.currentUserImage})}">

            </a>

            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" th:href="@{/myaccount}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#" th:href="@{/myaccount/cards}">
                    <i class="fas fa-address-card fa-sm fa-fw mr-2 text-gray-400"></i>
                    My Cards
                </a>
                <a class="dropdown-item" href="#" th:href="@{/myaccount/transactions}">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a>
                <a th:if="${isAdmin}" class="dropdown-item" href="#" th:href="@{/myaccount/admin}">
                    <i class="fas fa-code fa-sm fa-fw mr-2 text-gray-400"></i>
                    Admin Menu
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" th:href="@{/auth/logout}" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

        <li th:unless="${isAuthenticated}" class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link" href="#" th:href="@{/auth/login}">Login</a>
        </li>

        <li th:unless="${isAuthenticated}" class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link" href="#" th:href="@{/auth/register}">Register</a>
        </li>

    </ul>
</nav>
</body>
</html>